.border {
    border: 1px solid orange;
}

.home-grid-elem {
    border: 1px solid orange;
    height: 95%;
    width: 90%;
    background-color: white;
}

.home-stream {
    height: 100%;
    width: 100%;
}

.frame-place {
    background-color: white;
}