<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
   #drawer
      class="sidenav"
      fixedInViewport = "false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">

    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink = '/'>Home</a>
      <a mat-list-item routerLink = '/twitch'>Twitch</a>
      <a mat-list-item routerLink = '/mixer'>Mixer</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="display: flex; justify-content: space-between;">
      <button
          class="nav-btn"
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span (click)='goHome()' class='pointer'>TwitchPreview</span>
      <div> 
          <div *ngIf="!isInternetConnected && !mobileMode" class='viewer_count'>
            <span class='no-internet-connection_text'>No Internet Connection</span>
              <i class="material-icons-outlined material-icons_no-internet">wifi_off</i>
          </div>
      </div>
    </mat-toolbar>
    <div *ngIf='!isInternetConnected && mobileMode' class='no_internet_connection_message_monbile'>No Internet connection</div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>